<!DOCTYPE html>
<html>
<head>
  <title>FinanceTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
  <h1>This is the finance tracker app from the Complete Ruby on Rails Developer course</h1>

</body>
</html>
